#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left {
    width: 350px;
    height: 360px;
}

#about .col-right {
    width: 100%;
}

#about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#about .col-right p {
    margin-bottom: 20px;
}

#about .col-right .cta {
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 1.1rem;
}

#about .col-left .about-img img {
    width: 100%;
}

#about .col-left .about-img {
    position: relative;
    border: 5px solid white;
}

#about .col-left .about-img:after {
    content: '';
    position: absolute;
    left: -25px;
    top: 20px;
    height: 98%;
    width: 98%;
    border: 8px solid crimson;
    z-index: -1;
}